@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Nunito-Light";
    src: url("../src/assets/fonts/Nunito-Light.ttf");
}

@font-face {
    font-family: "Nunito-Regular";
    src: url("../src/assets/fonts/Nunito-Regular.ttf");
}
